/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 36px;
  height: 100%;
  /* width: 78px; */
  /* width: auto; */
  width: 16%;
  /* background: #00B8A9; */
  background-color: #006E7F;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
/* .sidebar.open {
  width: 200px;
} */
.sidebar.close {
    background: #4076ea;
    width: 78px;
  }
.sidebar .logo-details {
  height: 28px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar.close .logo-details .icon,
.sidebar.close .logo-details .logo_name {
    color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #d7fff7;
}
/* .sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
} */
.sidebar input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover {
  /* background: #ece4e4; */
  color: orangered;
  cursor: pointer;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 80%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  /* background: #00B8A9; */
  background: #006E7F;
}
.sidebar li a:hover {
  background: #c0f1ed4f;
  color: black;
}
 .sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  /* white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s; */
}
/*
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
*/
.sidebar li a:hover .links_name,.badge
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
} 
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  /* background: #00B8A9; */
  background: #006E7F;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 200px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  /* background: #00B8A9; */
  background: #006E7F;
  width: 80%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

/* @media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
} */

/*  */


* {
  margin: 0;
  padding: 0;
 
  box-sizing: border-box;
}

.Animated-Radial-Menu {
  display: flex;
  justify-content: center;
  align-items: center;
 
  background: #d7fff7;

}
.Animated-Radial-Menu .menu {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 82px;
}

.Animated-Radial-Menu .menu .toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #2f363e;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  font-size: 0.5em;
  transition: transform 0.5s;
}
.Animated-Radial-Menu .menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transition: 0.3s;
  transition-delay: calc(0.04s * var(--i));
  transform: rotate(0deg) translateX(110px);
  transform-origin: 90px;
}
.Animated-Radial-Menu .menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--clr);
  border: 2px solid var(--clr);
  border-radius: 50%;
  font-size: 1.5em;
  transform: rotate(calc(-45deg * var(--i)));
  transition: 0.3s;
}

.Animated-Radial-Menu .menu li a:hover {
  background: var(--clr);
  color: #333;
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 50px var(--clr);
}
.Animated-Radial-Menu .menu.active .toggle {
  transform: rotate(315deg);
}
.Animated-Radial-Menu .menu.active li {
  transform: rotate(calc(45deg * var(--i))) translateX(0px);
}

#badge{
  border-radius: 50%;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
#badge:hover{
color: black;
}

/* Styles for screens 480px and below */
@media screen and (max-width: 1200px) {
  /* Add your styles for smaller screens here */
  .sidebar  {
    font-size: 14px; /* Example style for smaller screens */
    width: 160px;
  }

}
