<!-- <div class="container">
    <div class="form-Group" [formGroup]="userInfoGroup">
        <p id="formTitle">Add Your Info:-</p>
        <hr> -->
        <!-- <div class="row">


            <div class="col-md-6">
                <label for="name">FirstName*</label>
                <input type="text" class="form-control form-control-sm" formControlName="FirstName" placeholder="Enter FirstName...">

            </div>
            <div class="col-md-6">
                <label for="name">LastName</label>
                <input type="text" class="form-control form-control-sm" formControlName="LastName" placeholder="Enter LastName...">
            </div>


        </div> -->

        <!-- 2nd Row -->
        <!-- <div class="row">


            <div class="col-md-6">
                <label for="name">Please indicate your gender*</label>
                <div class="radio-input">
                    <label for="Male">Male</label>
                    <input checked=""  class="input" value="male" formControlName="Gender" type="radio" >
                    <label for="FeMale">FeMale</label>

                    <input class="input" formControlName="Gender" value="feMale" type="radio" >
                    <label for="Others">Others</label>

                    <input class="input" formControlName="Gender" value="others" type="radio" >
                </div>

            </div>
            <div class="col-md-6">

                <label for="DOB">Birthday*</label>
                <input type="date" id="DOB" formControlName="Date_Of_Birth" class="form-control form-control-sm" >
            </div>


        </div> -->
        <!-- 3rd Row -->
        <!-- <div class="row">
            <div class="col-md-12">

                <label for="address1">Address*</label>
                <input type="text" id="address1" formControlName="Address" class="form-control form-control-sm"
                    placeholder="Enter your Address...">
            </div>

        </div> -->
        <!-- 4th Row -->
        <!-- <div class="row">
            <div class="col-md-12">

                <label for="address2">Street Address*</label>
                <input type="text" id="address2" formControlName="Street_Address" class="form-control form-control-sm"
                    placeholder="Enter your Address...">
            </div>

        </div> -->

        <!-- 5th Row -->
        <!-- <div class="row">
            <div class="col-md-6">

                <label for="city">City*</label>
                <input type="text" id="city" formControlName="City" class="form-control form-control-sm" placeholder="Enter your City...">
            </div>
            <div class="col-md-6">

                <label for="state">State*</label>
                <input type="text" id="state" formControlName="State" class="form-control form-control-sm" placeholder="Enter your State...">
            </div>
        </div> -->
        <!-- 6th Row -->
        <!-- <div class="row">
            <div class="col-md-6">

                <label for="email">Email*</label>
                <input type="text" id="email" formControlName="Email" class="form-control form-control-sm" placeholder="Enter your Email...">
            </div>
            <div class="col-md-6">

                <label for="mobile">Mobile*</label>
                <input type="text" id="mobile" formControlName="Mobile" class="form-control form-control-sm" placeholder="Enter your Mobile...">
            </div>
        </div> -->
        <!-- 7th Row -->

        <!-- <div class="row mt-2">
         
            <div class="col-md-12">

              <p class="jobTittile">Job Information</p>
            </div>
        </div> -->
        <!-- 8th Row -->
        <!-- <div class="row">
            <div class="col-md-6">

                <label for="tile">Title*</label>
                <input type="text" id="tile" formControlName="Job_Title" class="form-control form-control-sm" placeholder="Enter your Title...">
            </div>
            <div class="col-md-6">

                <label for="department">Department*</label>
                <input type="text" id="department" formControlName="Department" class="form-control form-control-sm" placeholder="Enter your Mobile...">
            </div>
        </div> -->
        <!-- 9th Row -->
        <!-- <div class="row">
            <div class="col-md-6">

                <label for="wrkType">Working Type*</label>
                <input type="text" id="wrkType" formControlName="Working_Type" class="form-control form-control-sm" placeholder="Enter your Working Type...">
            </div>
            <div class="col-md-6">

                <label for="srtDate">Start Date</label>
                <input type="date" id="srtDate" formControlName="Joining_Date" class="form-control form-control-sm">
            </div>
        </div> -->

        <!-- <div class="row">
            <div class="col-md-12" >
                <div id="btnDiv">
                    <button type="submit" id="btnSubmit" (click)="postUserInfo()" class="btn ">Submit</button>
                    <a routerLink="/dashboard/home"><button  type="submit" id="btnCencle" class="btn btn-danger">Cancle</button></a>
                </div>
                
            </div>
        </div> -->
    <!-- </div>

</div> -->


<div class="container">
    <div class="form-Group" [formGroup]="userInfoGroup">
        <p id="formTitle">Add Your Info:-</p>
        <hr>

        <div class="row">


            <div class="col-md-4" style="    align-items: center;
            display: flex;">
                <label for="name">FirstName*</label>
                <input type="text" class="form-control form-control-sm" formControlName="FirstName" placeholder="Enter FirstName...">

            </div>
            <div class="col-md-4" style="    align-items: center;
            display: flex;">
                <label for="name">LastName</label>
                <input type="text" class="form-control form-control-sm" formControlName="LastName" placeholder="Enter LastName...">
            </div>
            <div class="col-md-4">
                <div class="profile-pic">
                    <label class="-label" for="file">
                      <span class="glyphicon glyphicon-camera"></span>
                      <span>Change Image</span>
                    </label>
<!--            
                    <input id="file" type="file" (change)="imgUpload($event)">

    *ngIf="imageUrl" 

                    <img class="profile-pic"  id="output" src={{imagesrc}} > --> 

                    <input type="file" id="file" (change)="loadFile($event)" accept="image/*" />
                    <img id="output" class="profile-pic" [src]="imageUrl"/> 

                  </div>
                  <div class="p-image">
                    <i class="fa fa-camera upload-button"></i>
                  
                  </div>
            </div>

        </div>
<!-- Row2 -->
<div class="row">


    <div class="col-md-4">
        <label for="name">Please indicate your gender*</label>
        <div class="radio-input">
            <label for="Male">Male</label>
            <input checked=""  class="input" value="male" formControlName="Gender" type="radio" >
            <label for="FeMale">FeMale</label>

            <input class="input" formControlName="Gender" value="feMale" type="radio" >
            <label for="Others">Others</label>

            <input class="input" formControlName="Gender" value="others" type="radio" >
        </div>

    </div>
    <div class="col-md-4">

        <label for="DOB">Birthday*</label>
        <input type="date" id="DOB" formControlName="Date_Of_Birth" class="form-control form-control-sm" >
    </div>


        <div class="col-md-4">
<!--     
            <label for="address2">Street Address*</label>
            <input type="text" id="address2" formControlName="Street_Address" class="form-control form-control-sm"
                placeholder="Enter your Address..."> -->

                <label for="mobile">Mobile*</label>
                <input type="text" id="mobile" formControlName="Mobile" class="form-control form-control-sm" placeholder="Enter your Mobile...">
        </div>
    
   

</div>


<!-- Row5 -->
<div class="row">
    <div class="col-md-12">

        <label for="address2">permanent Address*</label>
        <input type="text" id="address2" formControlName="permanent_Address" class="form-control form-control-sm"
            placeholder="Enter your Address...">
    </div>

</div>

<!-- Row4 -->

<div class="row">
    <div class="col-md-12">

        <label for="address1">Current Address</label>
        <input type="text" id="address1" formControlName="current_Address" class="form-control form-control-sm"
            placeholder="Enter your Address...">
    </div>

</div>
<!-- row6 -->

<div class="row">
    <div class="col-md-4">

        <label for="city">City*</label>
        <input type="text" id="city" formControlName="City" class="form-control form-control-sm" placeholder="Enter your City...">
    </div>
    <div class="col-md-4">

        <label for="state">State*</label>
        <input type="text" id="state" formControlName="State" class="form-control form-control-sm" placeholder="Enter your State...">
    </div>

    <div class="col-md-4">

        <label for="email">Email*</label>
        <input type="text" id="email" formControlName="Email" class="form-control form-control-sm" placeholder="Enter your Email...">
    </div>
</div>
<!-- Row-5 -->

<div class="row">
    <!-- <div class="col-md-12">

        <label for="email">Email*</label>
        <input type="text" id="email" formControlName="Email" class="form-control form-control-sm" placeholder="Enter your Email...">
    </div> -->
    <!-- <div class="col-md-6">

        <label for="address2">Street Address*</label>
        <input type="text" id="address2" formControlName="Street_Address" class="form-control form-control-sm"
            placeholder="Enter your Address...">
    </div> -->
</div>

<!-- Row-6 -->

<div class="row mt-2">
         
    <div class="col-md-12">

      <p class="jobTittile">Job Information</p>
    </div>
</div>
<!-- Row-7 -->

<div class="row">
    <div class="col-md-6">

        <label for="tile">Title*</label>
        <input type="text" id="tile" formControlName="Job_Title" class="form-control form-control-sm" placeholder="Enter your Title...">
    </div>
    <div class="col-md-6">

        <label for="department">Department*</label>
        <input type="text" id="department" formControlName="Department" class="form-control form-control-sm" placeholder="Enter your Department...">
    </div>
</div>

<!-- Row-8 -->
<div class="row">
    <div class="col-md-6">

        <label for="wrkType">Working Type*</label>
        <input type="text" id="wrkType" formControlName="Working_Type" class="form-control form-control-sm" placeholder="Enter your Working Type...">
    </div>
    <div class="col-md-6">

        <label for="srtDate">Joning Date</label>
        <input type="date" id="srtDate" formControlName="Joining_Date" class="form-control form-control-sm">
    </div>
</div>
<!-- Row-9 -->

<div class="row">
    <div class="col-md-12" >
        <div id="btnDiv">
            <button type="submit" id="btnSubmit" (click)="postUserInfo()" class="btn ">Submit</button>
            <a routerLink="/dashboard/home"><button  type="submit" id="btnCencle" class="btn btn-danger">Cancle</button></a>
        </div>
        
    </div>
</div>
        </div>
        </div>