.container{
  width: 70%;
    /* background-color: rgba(255, 255, 255, .15);   */
    background-color:rgb(197 197 197 / 15%);  
    backdrop-filter: blur(5px);
    border-radius: 11px;
}

label{

  padding: 5px 0px;

}
#formTitle{
  text-align: center;
  font-size: 27px;
  color: #004d74;
  font-weight: bold;
  font-family: math;
}
input {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #000000 ;
  background: transparent;
  font-weight: bold;
  
  
}
.form-Group{
    margin-top: 5%;
    padding: 10px;
}
label{
  color: darkslategray;
}
.input {
    -webkit-appearance: none;
   /* remove default */
    /* display: block; */
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
   
    background-image: -webkit-radial-gradient( hsla(200,100%,90%,1) 0%, rgb(2, 2, 255) 44%, hsla(200,100%,60%,.3) 28%, hsla(200,100%,30%,0) 70% );
    background-repeat: no-repeat;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
      -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
    outline: none;
  }
  
  .input:checked {
    -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
      -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
  }
  
  .input:active {
    -webkit-transform: scale(1.5);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
  }
  
  
  
  /* The up/down direction logic */
  
  .input,
  .input:active {
    background-position: 0 24px;
  }
  
  .input:checked {
    background-position: 0 0;
  }
  
  .input:checked ~ .input,
  .input:checked ~ .input:active {
    background-position: 0 -24px;
  }
  .jobTittile{
    text-align: center;
    font-size: 21px;
    font-family: initial;

  }
  #btnSubmit{
    background-color: #006E7F;
    color: white;
    position: absolute;
    right: 0;
    top: 10px;
    width: 25%;
  }
  #btnCencle{
    color: white;
    position: absolute;
    /* right: 10px; */
    left: 48%;

    top: 10px;
    width: 25%;
  }
  #btnDiv{
    position: relative;
    padding: 0;
    margin: 0;
  }

  /* Profile Picture Style */
  /* @mixin object-center {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  /* 165px: 165px;
  100px: 100px;
  0 0 10px 0 rgba(255,255,255,.35): 0 0 10px 0 rgba(255,255,255,.35);
  $fontColor: rgb(250,250,250); */
  
  .profile-pic {
    color: transparent;
    transition: all .3s ease;

    position: relative;
    transition: all .3s ease;
    text-align: center;
    input {
      display: none;
    }
    
    img {
   
      object-fit: cover;
      width: 165px;
      height: 165px;
      box-shadow: 0 0 10px 0 rgba(255,255,255,.35);
      border-radius: 100px;
      z-index: 0;
    }
    #output{
      width: 155px;
      height: 145px;
    }
    .-label {
      cursor: pointer;
      height: 148px;
      width: 152px;
      position: absolute;
      top: 10px;
      top: 0px;
      left: 57px;
  
    }
    
    &:hover {
      .-label {
        @include object-center;
        background-color: rgba(0,0,0,.8);
        z-index: 10000;
        color: rgb(250,250,250);
        transition: background-color .2s ease-in-out;
        border-radius: 100px;
        margin-bottom: 0;
      }
    }
    
    span {
      display: inline-flex;
      padding: .2em;
      height: 2em;
    }
  }
  

  
  .p-image {
    position: absolute;
    top: 190px;
    right: 83px;
    font-size: 21px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .upload-button {
    font-size: 1.2em;
  }
  
  .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
  }