
<div class="line" >
   
      <!-- TODAY<span> & </span>TASK -->
      <p  style="display: block; text-align: center;display: block;text-align: center;font-size: 30px;font-family: math;">Today List</p>
      <hr />
    </div>
   
    
    
    <div  *ngFor="let arrdata of reverArr">
      <div id="crd">
        <p><span id="time">{{arrdata.time}}</span></p> 
        <i class='bx bx-message-alt-x'></i>
        <div id="detailsDiv" (click)="ViewTask()">
          <p id="sendTo"><i class='bx bxs-user-voice'></i><span class="data">{{arrdata.created_By}}</span></p>
          <p id="Tittle"><span >Tittle:-</span><span class="data">{{arrdata.tittle}}</span ></p>
     
         
        </div>


      </div>
     
    </div>
    

    
    
    
    