<div class="row" style="width: 100%;text-align: center;margin-left: 0%;background-color: #80c2d459">
  <h2>Analytics</h2>
</div>
<div class="row mt-1" style="width: 100%;">

  <div class="col-md-7" style="margin: 0;padding: 0;">

    <highcharts-chart class="pie" [Highcharts]="Highcharts" [options]="chartOptions"
      style="width: 100%; display: block;height: 75vh; font-size: 30px;"></highcharts-chart>




  </div>
  <div class="col-md-5" style="margin: 0;padding: 0;">
    <!-- angular_HighChart -->




    <div class="pie" [chart]="pieChart" style="width: 100%;display: flex; height: 75vh;">

    </div>

  </div>
  <!-- secod Part -->
  
</div>