<div style="position: relative;">

<div class="details">
  
      <div class="row" *ngFor="let data of singleData;"  >
        <h6 class="title"><span id="from">{{data.created_By}}</span>Title:- <span id="title">{{data.tittle}}</span></h6>
        <div style="width: 70%;border-right: 2px solid;padding: 0px 15px; min-height: 45vh;" >
          
    <div class="checkbox-wrapper-40" *ngIf="data.status=='p'">
      <label>
        <input type="checkbox" checked />
        <span class="checkbox"></span>
      </label>
    </div>
    <div class="checkbox-wrapper-40" *ngIf="data.status!='p' && data.stage3!='c'">
      <label>
        <input type="checkbox" (click)="onCheckboxChange($event,data.id)"/>
        <span class="checkbox"></span>
      </label>
    </div>

            <p id="time">Time: <span>{{data.time}}</span> </p>
            
            <h2 class="note">INFO:-</h2>
            <h3 id="mess"><span style="font-family: Slabo;">{{data.message}}</span></h3>
            <h2 class="des">Description:-</h2>
            <p id="des"><span>{{data.description}}</span></p>
        </div>
        <div style="width: 30%;position: relative; padding: 0%;" >
        
        <textarea name="addcomment" [(ngModel)]="textareaValue" id="addcomment" style="display: none;" placeholder="Enter Your Points..." cols="46" rows="7" ></textarea>
       
      <!-- btn div -->
  <div class="buttonDiv">
 

      <button class="btn" id="btn3" (click)="commentShowFun()">Add Note</button>
      <button class="btn" (click)="GoBack()">Close</button>
      <button class="btn" (click)="Complete(data.id)" id="btn2">Complete</button>

  
</div>
      </div>


  
      </div>
   
</div>

  
</div>
