<div class="container" style="position: relative;">
    <div class="slide-fwd-center " >
<div class="details">
  
    <div class="checkbox-wrapper-40">
        <label>
          <input type="checkbox" (click)="onCheckboxChange($event)"/>
          <span class="checkbox"></span>
        </label>
      </div>
      <div class="row" >
        <h6 class="tittle">Tittle</h6>
        <div style="width: 70%;border-right: 2px solid;padding: 0px 15px;">
            <p id="time">Time:</p>
            
            <h2 class="note">INFO:-</h2>
            <h3 id="mess">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic fugiat temporibus provident error perferendis expedita aut, ducimus consequatur harum totam facere vero mollitia ullam atque amet dicta tenetur distinctio iure.</h3>
            <h2 class="des">Description:-</h2>
            <p id="des">E:\New folder\Angular Projects\TaskApplication\TaskCreateApp\src\app\modules>cd dashboard</p>
        </div>
        <div style="width: 30%;" >
        
        <textarea name="addcomment" id="addcomment" style="display: none;" placeholder="Enter Your Points..." cols="46" rows="7" ></textarea>
       
      <!-- btn div -->
  <div class="buttonDiv">
    <button class="btn" id="btn3" (click)="commentShowFun()">Add your Note</button>
    <button class="btn" (click)="GoBack()">Close</button>
    <button class="btn" id="btn2">Complete</button>
</div>
      </div>


  
      </div>
   
</div>

    </div>
</div>
