
.row{
  display: flex;width: 100%;
  border-bottom: 2px solid ;
  padding: 27px 0px;
  padding: 0px;
  margin: 57px 0px;
}


 @-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}

 .buttonDiv{
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  right: 5px;
 }
.btn{
    background-color: #d82323de;
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
    margin-left: 2px;
}
#btn2{
    background-color: #004D74;
    color: whitesmoke;
   
    cursor: pointer;
    font-weight: bold;
}
#btn3{
  background: darkslategray;
}
.btn:hover{
  opacity: 0.8;
}

  #title{
    font-family: 'boxicons';
  }
  .title{
    text-align: center;
    font-size: 26px;
    background-color:#004D74;
    color: white;
    border-left: 1px solid white;
    margin: 0px;
    font-family: 'boxicons';

  }
  .note{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
 
  }
  #from{
    font-size: 19px;
    position: absolute;
    left: 5px;
    top: 11px;
    color: #ff9400;
    font-family: math;
  }
  #mess{
    text-indent: 50px;
    text-align: justify;
    text-justify: inter-word;
    word-spacing: 4px;
    line-height: 27px;
    font-family: serif;
    font-size: 17px;
  }
  *{
    font-family: sans-serif;
  }
 
  #addcomment{
    right: 2px;
    width: -webkit-fill-available;
    position: absolute;
    border-radius: 7px;
    right: 2px;
    top: 10px;
    left: 1px;
    border-radius: 7px;
  }
  .des{
    color: chocolate;
    font-family: serif;
    font-size: 25px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black;
    margin-left: 8px;
  }
  .commentShow{
    display: block !important;
  }
  .note{
    color: #0fd622;
    font-family: serif;
    font-size: 25px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black;
    margin-left: 8px;
  }
  #des{
    text-indent: 50px;
    text-align: justify;
    text-justify: inter-word;
    word-spacing: 4px;
    line-height: 30px;
    font-family: serif;
    /* font-size: 25px; */
    letter-spacing: 1px
  }
