
  .crd {
    min-height: 200px;
    display: flex;
    /* flex-direction: column;
    justify-content: space-between; */
    height: 205px;
    width: 200px;
    /* padding: 35px; */
    margin-left: 20px;
    margin-top: 36px;
    border: 1px solid rgba(255, 255, 255, .25);
   border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    /* backdrop-filter: blur(15px);  */
  }
  .btn-success{
    width: 96px;
    bottom: 0;
    position: absolute;
    right: 0px;
    border-radius: 10px 0px 20px;
    background-color: #006E7F !important;
  }
  .btn-d{
    width: 96px;
    bottom: 0;
    position: absolute;
    /* right: 40px; */
    color: whitesmoke;
    left: 0;
    border-radius: 0px 11px 1px 18px;
    background-color: #006E7F !important;
  }
  .bx-bookmark-alt-plus{
    font-size: 24px;
    top: 10px;
    position: absolute;


  }
  .bx-bookmark-alt-plus:hover{
    cursor: pointer;
  }
  /* #crd:hover{
    cursor: pointer;
    opacity: 0.5;
  } */
.cardDiv{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 1rem;
}

  /* add slat btn style code  */
  /* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  /* max-width: 100%; */
  /* min-width: 140px; */
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-top: 10px;
  /* display: flex; */
 

}
.text{
  align-items: center;
  height: 30px;
  width: 118px;
  padding: 0px 15px;
}
.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  /* background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms; */
  background-color: #03252a;
    /* padding: 16px 24px; */
    border-radius: 6px;
    /* width: 100%; */
    height: 100%;
    transition: 300ms;
    font-size: 15px;
    font-weight: bold;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    /* min-width: 196px; */
  }
}


.modal-header{
  background-color: #006E7F;
}
.modal-title{
  color: whitesmoke;
}
.btn-default{
  background-color: #006E7F;
  color: whitesmoke;
}
input[type="text"],
textarea {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #000000 ;
    background: transparent;
    font-weight: bold;
    
    
}

/*  */


h1 {
  text-align: center;
  font-size: 3rem;
  color: #E85359;
  font-family: 'Cinzel Decorative', serif;
  -webkit-font-feature-settings:"clig", "dlig", "hlig", "liga", "swsh", "onum";
  -moz-font-feature-settings:"clig", "dlig", "hlig", "liga", "swsh", "onum";
  font-feature-settings:"clig", "dlig", "hlig", "liga", "swsh";
  padding-top: 1rem;
}
/* h1:before, h1:after, h1 hr:before, h1 hr:after {
  content: '';
    background: #FED279;
    width: 22px;
    height: 22px;
    border: 1px solid #3F7963;
    position: absolute;
    transform: rotate(45deg) translatey(calc(61% + 44px));
    transform-origin: center;
    left: calc(22% + 89px);
    z-index: 2;
} */
h1:after {
  left: auto;
  right:  calc(5% - 21px);
}
h1 hr:before {
  left: 0;
}
h1 hr:after {
  left: auto;
  right: -11px;
}
h1 hr {
  /* width: 60%;
  position: absolute;
  top: 120px;
  left: 29%;
  bottom: 0;
  background: #000000;
  height: 1px;   */

  width: 47%;
  position: absolute;
  top: 110px;
  left: 32%;
  bottom: 0;
  background: #000000;
  height: 1px;
}
h1 span {color: #B3B04F;}
.bx-plus{
  cursor: pointer;
  margin: auto; font-size: 50px; 
  color: #006E7F;
  opacity: 0.4;
}
.bx-plus:hover{
  opacity: 1;

}
.close{
  width: 29px;
  color: red;
}

.close{
  width: 29px;
  color: red;
}

