/* CSS BTN*/
.button-87 {
  margin: 10px;
  padding: 4px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #006E7F;
  background-image: linear-gradient(45deg, #FF512F 0%, #006E7F  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}
  .crd {
    min-height: 200px;
    display: flex;
    /* flex-direction: column;
    justify-content: space-between; */
    height: 205px;
    width: 200px;
    /* padding: 35px; */
    margin-left: 30px;
    margin-top: 36px;
    /* border: 1px solid rgba(255, 255, 255, .25); */
   border-radius: 20px;
    /* background-color: rgba(255, 255, 255, 0.45); */
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    animation: myAnim 2s ease 0s 1 normal forwards;
    /* backdrop-filter: blur(15px);  */
  }

  */
  #detailsDiv{
    word-break: break-word;
  }
  .stage1{
    border: 1px solid red;
    /* background-color: red; */
  }
  .stage2{
    border: 1px solid rgb(255, 255, 0);
    /* background-color: red; */
  }
  .stage3{
    border: 1px solid rgb(0, 255, 38);
    /* background-color: red; */
  }

  .btn-success{
    width: 96px;
    bottom: 0;
    position: absolute;
    right: 0px;
    border-radius: 10px 0px 20px;
    background-color: #006E7F !important;
  }
  .btn-d{
    width: 96px;
    bottom: 0;
    position: absolute;
    /* right: 40px; */
    color: whitesmoke;
    left: 0;
    border-radius: 0px 11px 1px 18px;
    background-color: #006E7F !important;
  }
  .bx-bookmark-alt-plus{
    font-size: 24px;
    top: 10px;
    position: absolute;


  }
  .bx-bookmark-alt-plus:hover{
    cursor: pointer;
  }
  /* #crd:hover{
    cursor: pointer;
    opacity: 0.5;
  } */
#cardDiv{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(224px,1fr));
  grid-gap: 1rem;
  
}



.modal-header{
  background-color: #006E7F;
}
.modal-title{
  color: whitesmoke;
}
.btn-default{
  background-color: #006E7F;
  color: whitesmoke;
}
input[type="text"],
textarea {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #000000 ;
    background: transparent;
    font-weight: bold;
    
    
}

/*  */


h1 {
  text-align: center;
  font-size: 3rem;
  color: #E85359;
  font-family: 'Cinzel Decorative', serif;
  -webkit-font-feature-settings:"clig", "dlig", "hlig", "liga", "swsh", "onum";
  -moz-font-feature-settings:"clig", "dlig", "hlig", "liga", "swsh", "onum";
  font-feature-settings:"clig", "dlig", "hlig", "liga", "swsh";
  padding-top: 1rem;
}

h1:after {
  left: auto;
  right:  calc(5% - 21px);
}
h1 hr:before {
  left: 0;
}
h1 hr:after {
  left: auto;
  right: -11px;
}
h1 hr {
  width: 47%;
  position: absolute;
  top: 110px;
  left: 32%;
  bottom: 0;
  background: #000000;
  height: 1px;
}
h1 .spanCard {color: #B3B04F;}
.bx-plus{
  cursor: pointer;
  margin: auto; font-size: 50px; 
  color: #006E7F;
  opacity: 0.4;
}
.bx-plus:hover{
  opacity: 1;

}
.close{
  width: 29px;
  color: rgb(255, 255, 255);
  background-color: rgb(192, 38, 38);
}

.borderStyle{
  border: 1px solid red !important;
}
/* .modaleEditBtn{
  display: none;
} */
.modaleBtn{
  display: none;
}

/* @keyframes myAnim {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
} */


@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}