<div>
  <button class="button-87" role="button" (click)="createAndAppendElement()" style="float: right;"><span style="display: flex; align-items: center;" class="text">Create</span></button>
  <!-- <button class="button-64" role="button" (click)="SendTask()" style="float: right;"><span style="display: flex; align-items: center;" class="text">Assign Task</span></button> -->
</div>

  
  <!-- style="display: flex; justify-content: space-between;" -->
<div class="line">
  <h1>
    <!-- TODAY<span> & </span>TASK -->
    <hr /></h1>
</div>
<div id="cardDiv" >
  <div   *ngFor="let arrdata of filteredData"  style="position: relative;" >
 
    <div id="crd1{{arrdata.id}}" *ngIf="arrdata.created_By==userName" class="crd" [ngClass]="{'stage1': condition1, 'stage2': condition2, 'stage3': condition3}" >
 
      <!-- <i class='bx bx-bookmark-alt-plus'  ></i> -->
      <i class='bx bx-message-alt-x'></i>
      <div *ngIf="arrdata==null">
        <i class='bx bx-plus'  (click)="ShowModal()"></i>
      </div>
      <div id="detailsDiv">
        <p id="sendTo"><span class="spanCard">Name:-</span>{{arrdata.send_To}}</p>
        <p id="Tittle"><span class="spanCard">Tittle:-</span>{{arrdata.tittle}}</p>
  
      </div>
      <div>
        <button class="btn btn-success" *ngIf="arrdata.status!='c' && arrdata.status!='p' " (click)="EditTask(arrdata.id)">Edit</button>
      </div>
  
      <div>
        <button class="btn btn-d" (click)="ReadTaskrecord(arrdata.id)">View</button>
      </div>
    
     
     
    </div>




</div>
</div>




  <!-- Modal popup for create task-->

 <!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Task</h4>
        <!-- <p></p> -->
        <span>{{timeString}}</span>
      </div>
      <div class="modal-body">
        <!-- <p>This is a small modal.</p> -->
        <form [formGroup]="TaskGroup">
          <div style="display: flex; width: 100%; justify-content: space-between;">
          <div style="width: 44%;">
            <div class="form-floating mb-3 mt-3 ">
              <input type="text" class="form-control form-control-sm" id="To" placeholder="Enter..." autocomplete="off" formControlName="Send_To" name="SendTo">
              <label for="To">*To...</label>
            </div>
          </div>
          <!-- second 50% -->
          <div style="width: 55%;">
            
          <div class="form-floating mb-3 mt-3 ">
            <input type="text" class="form-control form-control-sm" id="tittle" placeholder="Enter..." autocomplete="off" formControlName="Tittle" name="Des">
            <label for="tittle">*Tittle...</label>
          </div>
          </div>
        
          </div>

          <div class="form-floating mb-3 mt-3 ">
            <input type="text" class="form-control form-control-sm" id="des" placeholder="Enter..." autocomplete="off" formControlName="Description" name="Des">
            <label for="To">Description...</label>
          </div>
          <div class=" mb-3 mt-3 form-floating ">
            <textarea class="form-control form-control-sm" id="textArea" style="height: 150px;" placeholder="Enter..." cols="50" autocomplete="off" formControlName="Message" name="Message"></textarea>
              <label for="des">*Type Here...</label>
            </div>
      
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="modaleCRBtn" class="btn btn-default" (click)="CraeteTask()" >Create</button>
        <button type="button" id="modaleUPBtn" class="btn btn-default" (click)="Update()" data-bs-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>