
<nav class="navbar navbar-expand-sm " style="background-color: #006E7F;z-index: 1; border-bottom: 1px solid black;">
   
    <!-- <img src="/assets/images/teamLiftssLogo.png" alt="TeamLiftss"> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon">...</span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item d-flex justify-content-end">
           <p id="uName" style="font-family: 'Playball', cursive;">{{userName}}</p>
          <!-- <img id="avatar" src="/src/assets/images/profileImg.png" alt="avatar"> -->
          <i routerLink="profile" class='bx bx-user-circle'></i>         
         
        </li>
        <li>
          
        </li>
      
      </ul>
    </div>

</nav>
