
<nav class="navbar navbar-expand-sm " style=" background-color: #004D74;;z-index: 1; border-bottom: 1px solid black;">
   
    <img src="./assets/images/teamLiftssLogo.png" alt="TeamLiftss">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon">...</span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item d-flex justify-content-end">
           <p id="uName" style="text-shadow: 2px 2px 9px darkturquoise; font-family: math;">{{userName}}</p>
          <!-- <img id="avatar" src="/src/assets/images/profileImg.png" alt="avatar"> -->
          <!-- <i routerLink="profile" class='bx bx-user-circle'></i>          -->
          <!-- <i routerLink="profile"  class="fa-solid fa-user-tie"></i>      -->
          <i routerLink="profile" class='bx bx-user-pin'></i>    
        </li>
        <li>
          
        </li>
      
      </ul>
    </div>

</nav>
