<!-- <div class="row">

    <div class="line">


        <p
            style="display: block; text-align: center;display: block;text-align: center;font-size: 30px;font-family: math;">
            User INFO</p>
        <hr />
    </div>
    <div class="col-md-6 mt-3">
        <button type="button" class="btn btn-info" (click)="CreateUser()"> User </button>
        <button type="button" class="btn btn-info" style="    margin-left: 6px;" (click)="CreateProject()"> Project</button>
        
    </div>

    <div class="col-md-6 mt-3">
      
        <div class="form-Group" [formGroup]="searchGroup" style="position: relative;">
        
        </div>


        <select class="classic" (change)="onSelect($event)" style=" float: right;min-width: 300px; ">
        
            <option value="">--Select User--</option>
            <option *ngFor="let option of AllDetailsArr" [value]="option.id">
                {{ option.userName }}
            </option>

        </select>



    </div>

</div>
<div class="row mt-4" *ngIf="isUserDetails">


    <div *ngFor="let data of arrayOfObjects">
        <div class="container bootstrap snippets bootdey">
            <div class="panel-body inf-content">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="" style="width:600px; padding: 20px;" title=""
                            class="rounded-circle img-thumbnail isTooltip"  src="https://bootdey.com/img/Content/avatar/avatar7.png"
                            data-original-title="Usuario">
                        <ul title="Ratings" class="list-inline ratings text-center">
                            <li><i class="fa-solid fa-star-half-stroke"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-bahai"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star-half-stroke"></i></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                     
                        <div class="table-responsive">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>
                                                <i class="fa-brands fa-jedi-order text-primary"></i>
                                                Identificacion
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {{data.userName}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                          
                                                <i class="fa-solid fa-user-tie  text-primary"></i>
                                                Name
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {{data.firstName}} {{data.lastName}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                            
                                                <i class="fa-solid fa-venus-mars text-primary"></i>
                                                Gender
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {{data.gender}}
                                        </td>
                                    </tr>
                     

                                    <tr>
                                        <td>
                                            <strong>
                                         
                                                <i class="fa-solid fa-house-chimney-user text-primary"></i>
                                                <i class="bi bi-geo-alt"></i> Address
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {{data.current_Address}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-globe text-primary"></span>
                                                <i class="fa-solid fa-city text-primary"></i>
                                                City
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {{data.city}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <strong>
                                           
                                                <i class="fa-solid fa-phone text-primary"></i>
                                                Mobile
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {{data.mobile}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                          
                                                <i class="fa-solid fa-building-user text-primary"></i>
                                                Department
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {{data.department}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                          
                                                <i class="fa-solid fa-calendar-days  text-primary"></i>

                                                DOB
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {{data.date_Of_Birth}}
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <strong>
                                        
                                                <i class="fa-solid fa-envelope text-primary"></i>
                                                Email
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {{data.email}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                                <i class="fa-solid fa-eye text-primary"></i>
                                                Role
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {{data.job_Title}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <strong>
                                             
                                                <i class="fa-solid fa-calendar-days  text-primary"></i>
                                                Joining Date
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {{data.joining_Date}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row" *ngIf="result">

    <p>No Result Found!</p>

</div>



        <div class="container mt-3" style=" padding: 10px 70px;
        width: 50%;
        margin: auto;" *ngIf="isUserCreate">
            <h2 class="text-center">Create User</h2>
            <hr>
            <form [formGroup]="usersGroup">
              <div class="form-floating mb-3 mt-4 ">
                <input type="text" class="form-control form-control-sm" id="user" placeholder="Enter Username"
                  autocomplete="off" formControlName="Username" name="Username">
                <label for="user">User ID</label>
              </div>
              <div class="form-floating mt-3 mb-4">
                <input type="text" class="form-control form-control-sm" id="pwd1"
                  placeholder="Enter password" autocomplete="off" formControlName="Password" name="pwd1">
                <span class="form-floating" style="float: right;bottom: 38px;right: 10px; color: #002142;"><i
                    class='bx bx-happy-heart-eyes ' style="cursor: pointer;font-size: 24px;"
                    ></i></span>

                <label for="pwd1">Password</label>
              </div>


              <div class="form-floating mb-3 ">
                <input type="password" class="form-control form-control-sm" id="pwd2"
                  placeholder="Confirm password" autocomplete="off" 
                  formControlName="Repassword">
                <label for="pwd2">Confirm password</label>
              </div>
              <div style="display: flex; position: relative;">

                   <div class="col-md-6">

                <select class="classic2"   (change)="onRoleSelect($event)" style=" float: right;min-width: 300px;width: 95%;
                ">
      
                    <option value="">--Select Role--</option>
                    <option *ngFor="let option of RoleArray" [value]="option.role">
                        {{ option.role }}
                    </option>
        
                </select>

             </div>
             <div class="col-md-6">
                <select class="classic2"   (change)="onProjectSelect($event)" style=" float: right;min-width: 300px;width: 100%;
                ">
      
                    <option value="">--Select Project--</option>
                    <option *ngFor="let option of projectArray" [value]="option.project_Name">
                        {{ option.project_Name }}
                    </option>
        
                </select>

             </div>
       
           
              </div>
              <div style="display: flex; position: relative;">
           <div class="col-md-6"></div>
           <div class="col-md-6"> <button type="submit" class="btn " style="right: 0px;
            position: absolute;
            width: 27%;
            top: 10px;" (click)="UserSubmit()">Create</button></div>
                
                   </div>
               
            
            </form>
          </div>

          <div class="container mt-3" style=" padding: 10px 0px;
          width: 50%;
          margin: auto;" *ngIf="isProjectCreate">
  <h2 class="text-center">Create Project</h2>
  <hr>
<form [formGroup]="ProjectGroup">
<div class="row">
<div class="col-md-6">
    <div class="form-floating mb-3 mt-4 ">
        <input type="text" class="form-control form-control-sm" id="project" (input)="checkExist()" placeholder="Enter Project"
          autocomplete="off" formControlName="Project_Name" name="project">
        <label for="project">Project Name*</label>
        <span style="color: red;" *ngIf="isValid">Enter a Project Name!</span>
      </div>

</div>
<div class="col-md-6">
    <div class="form-floating mb-3 mt-4 ">
        <input type="text" class="form-control form-control-sm" id="projectHead" (input)="checkExist()" placeholder="Enter..."
          autocomplete="off" formControlName="Project_Head" name="projectHead">
        <label for="project">Project Head</label>
      
      </div>

</div>


</div>
   

<div class="row">

    <div class="col-md-6">

        <div class="form-floating mb-3 mt-4 ">
            <input type="text" class="form-control form-control-sm" id="projectLoc" (input)="checkExist()" placeholder="Enter..."
              autocomplete="off" formControlName="Project_Location" name="projectLoc">
            <label for="project">Project Location</label>
          
          </div>

    </div>
    <div class="col-md-6">

        <div class="form-floating mb-3 mt-4 ">
            <input type="number" class="form-control form-control-sm" id="projectDuration"  placeholder="Enter..."
              autocomplete="off" formControlName="Project_Duration" name="projectDuration">
            <label for="project">Project Duration</label>
          
          </div>


    </div>
</div>

      <div style="display: flex; position: relative;">
        <div style="position: absolute;right: 0px;">
            <button type="submit"  class="btn" (click)="projectSubmit()">Create</button>
        </div>
        </div>
    </form>
          </div>
           -->



           <app-admin></app-admin>