
<div class="line">
<h1>
  <!-- TODAY<span> & </span>TASK -->
  <hr /></h1>
</div>
<div id="cardDiv" >


<div id="crd" *ngFor="let arrdata of TaskRecord" style="position: relative;">
  <i class='bx bx-message-alt-x'></i>
  <div id="detailsDiv">
    <p id="sendTo"><i class='bx bxs-user-voice'></i><span class="spanCard1">{{arrdata.send_To}}</span></p>
    <p id="Tittle"><span class="spanCard">Tittle:-</span>{{arrdata.tittle}}</p>

  </div>
  <div>
    <button class="btn btn-success" (click)="ViewTask()">View</button>
  </div>



 
 
</div>

</div>



