
<div class="line">
<h1>
  <!-- TODAY<span> & </span>TASK -->
  <hr /></h1>
</div>
<div id="cardDiv" >


<div id="crd" *ngFor="let data of dataCount" style="position: relative;">
  <label style="position: absolute;position: absolute;top: 1px;right: 12px;">
    <input class="toggle-checkbox" type="checkbox">
  
    <div class="toggle-switch"></div>
    <!-- <span class="toggle-label">Wi-fi</span> -->
  </label>
 
  <div>
    <button class="btn btn-success" (click)="ViewTask()">View</button>
  </div>



 
 
</div>

</div>



