/* You can add global styles to this file, and also import other style files */
@import "node_modules/@costlydeveloper/ngx-awesome-popup/styles/theme";
* {
    margin: 0;
    padding: 0;
    /* font-family: "Roboto", sans-serif; */
    box-sizing: border-box;
  }
body{
  background-color: #80c2d459
}
  .spanCard{
    color: cadetblue;
    font-weight: bold;
    font-size: 19px;
  }
  
  #detailsDiv{
      margin: auto;
      text-align: center;
  }
  p{
    margin: 0;
  }
  .bx-message-alt-x{    
    font-size: 16px;
    color: red;
    cursor: pointer;
    top: 3px;
    position: absolute;
    right: 7px;
  }
  @import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';