<app-navbar></app-navbar>
<div style="display: flex; width: 100%;">
<div style="width: 16%;">
    <app-sidenav ></app-sidenav>
</div>
<div style="width: 84%;
height: 100%;">
<div style="margin-top: 244px;
margin-left: 36%;    position: absolute;">
  <img src="./assets/images/teamLiftssLogo.png" style=" width: auto;opacity: 0.3;height: auto; image-resolution: from-image;" alt="team">

</div>

<!-- <button (click)="chg()">Click Me</button> -->
    <router-outlet></router-outlet>
 

  </div>
</div>
